.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

html, body{
    margin: 0;
    height: 100%;
    background-image: linear-gradient(#1A1A1A, #1A1A1A, black, #FF0000);
}


h1{
    color: white;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    font-family: Arial;
    font-size: 80px;
    font-weight: bolder;

    -webkit-text-stroke: 2px black;
}

#logo{
    max-width: 500px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#instagram{
    max-width: 35px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

/* ######## NAVBAR ########## */
#navbar{
    display: none;
    background-color: #303030;
    height: auto;
    overflow: hidden;
    text-align: center;


    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.navbar_button {
    display: inline-block;
    text-align: center;
    float: top;

    font-family: Arial;
    text-transform: uppercase;
    color: white;
    font-size: 20px;

    padding: 15px;

    width: 100px;
    height: auto;
}

.navbar_logo{
    border-radius: 20px;
    height: auto;
    width: 80px;
}

.navbar_center{
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.left{
    float: left;
}

.right{
    float: right;
}
/*#################################################*/
#header{
    align-content: center;
    margin-bottom: 120px;
    /*margin-top: 150px;*/
}

#main{
    display: block;
    align-content: center;
}

#footer{

    position: fixed;
    align-content: center;
    bottom: 5px;
    width: 100%;
}

.link{
    display: inline-block;

}

#links{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.center{
    display: flex;
    align-content: center;
}

.logo{
    max-width: 70px;
    height: auto;
    border-radius: 10px;
    margin: 10px;
}

/* ######## TEXT ############ */
.text{
    display: inline;
    text-align: center;
    font-family: arial;
    font-size: 30px;
    font-weight: bolder;
}

.footer-text{
    text-align: center;
}
.social_text{
    text-transform: uppercase;
    color: white;
    font-family: Arial;
    font-size: 20px;
}

/* ##### DISCOGRAPHY ###########*/

#discography{
    text-align: center;
    display: block;
    align-content: center;
    margin-top: 100px;
}

.album{

    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    height: 150px;
    width: 600px;
    background-color: #303030;

    display: flex;
    align-content: center;
    text-align: center;

    border-radius: 10px;
    border: solid;
    border-color: black;

}

.album-cover{
    width: 120px;
    height: auto;
    margin-left: 15px;
    margin-top: auto;
    margin-bottom: auto;
    float: left;
}

.album-text{
    margin-left: 25px;
    margin-top: 25px;
}

.album-title{
    display: block;
    font-family: Arial;
    font-size: 25px;
    color: white;
    float: left;
}

.album-description {
    display: block;
    font-family: Arial;
    font-size: 15px;
    color: white;
    float: left;
    margin-top: 30px;
    margin-left: 25px;
    float: left;
}

.title{
    font-family: Arial;
    text-align: center;
    font-size: 30px;
    color: white;

    display: flex;
    margin-left: auto;
    margin-right: auto;
}